:root {
    --basic-text-color: #212121;
    --title-text-color: #ffffff;
    --secondary-text-color: #757575;
    --accent-text-color: #2196f3;
    --background-color: #2F303A;
    --button-color-portfolio: #f5f4fA;
}
body {
    color: var(--basic-text-color);
    font-family: Roboto, sans-serif;
    background-color: #ffffff;
}

    /* delete list dot */
.list,
.button-portf {
    list-style: none;
}

/* header */
    /* logo style */
.logo-first {
    color: var(--accent-text-color);
}
.logo {
    color: var(--basic-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.37;
    letter-spacing: 0.04em;
    text-decoration: none;
}

    /* footer info  */
.logo-footer {
    color: var(--title-text-color);
    font-family: Raleway, sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
}
.footer-main {
    background-color: var(--background-color);
}

.footer-cont {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    font-style: normal;
}

.footer-adre {
    color: var(--title-text-color);
}

.footer-mail,
.footer-tel {
    color: rgba(255, 255, 255, 60%);
    text-decoration: none;
}
    /* main navigation */
.cont-list {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
    list-style: none;
}
.cont-list-stud,
.cont-list-port,
.cont-list-cont {
    color: var(--basic-text-color);
    text-decoration: none;
}
.cont-list-stud:hover,
.cont-list-port:hover,
.cont-list-cont:hover,
.cont-list-stud:focus,
.cont-list-port:focus,
.cont-list-cont:focus {
    color: var(--accent-text-color);
}
.cont-list-port.current {
    color: var(--accent-text-color);
}

    /* contact info */
.cont-nav {
    font-size: 14px;
    list-style: none;
    font-weight: 500;
    line-height: 1.17;
    letter-spacing: 0.02em;
}
.cont-nav a {
    color: var(--secondary-text-color);
    text-decoration: none;
}
.cont-nav a:hover,
.cont-nav a:focus {
    color: var(--accent-text-color);
}

/* main section */
.primary-section {
    background-color: var(--background-color);
}
.primary-hero {
    color: var(--title-text-color);
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}
.primary-button {
    font-size: 16px;
    background-color: var(--accent-text-color);
    color: var(--title-text-color);
    font-family: inherit;
    font-weight: 700;
    line-height: 1.88;
    letter-spacing: 0.06em;
    text-align: center;
}

/* info section */
.hero-info {
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.hero-text {
    font-size: 14px;
    color: var(--secondary-text-color);
    line-height: 1.71;
    letter-spacing: 0.03em;
}

/* about company */
.hero-about {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}

/* our team */
.section-team {
    background-color: #F5f4Fa;
}
.hero-team {
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-align: center;
}
.hero-team-title {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.hero-team-about {
    color: var(--secondary-text-color);
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}

                /* second page */
/* navigation */
.button-portf-first,
.button-portf-second,
.button-portf-third,
.button-portf-forth,
.button-portf-fifth {
    font-size: 16px;
    background-color: var(--button-color-portfolio);
    font-family: inherit;
    font-weight: 500;
    line-height: 1.63;
    letter-spacing: 0.03em;
    text-align: center;
}
.button-portf-first:hover,
.button-portf-second:hover,
.button-portf-third:hover,
.button-portf-forth:hover,
.button-portf-fifth:hover,
.button-portf-first:focus,
.button-portf-second:focus,
.button-portf-third:focus,
.button-portf-forth:focus,
.button-portf-fifth:focus {
    background-color: var(--accent-text-color);
    color: var(--title-text-color);
    cursor: pointer;
}

/* portfolio menu  */
.hero-portf {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.list-portf {
    font-size: 16px;
    color: var(--secondary-text-color);
    line-height: 1.88;
    letter-spacing: 0.03em;
}